@media only screen and (max-width: 360px) {
    html {
        font-size: smaller;
        box-sizing: border-box;
        margin: 0;
    }

    .header .menu li:not(:last-child) {
        display: none;
    }

    .sobreMim {
        /* width: 100%; */
        flex-direction: column-reverse;
        text-align: justify;
    }

    .hero-info {
        width: 100%;
    }

    .hero-foto {
        width: 146px;
        height: 146px;
    }

    .links-sobre {
        font-size: 11px;
    }

    .links-sobre img {
        width: 10px;
    }

    .skills,
    .hobbies {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        width: 120px;
        height: 120px;
    }
}
