@media only screen and (max-width: 1024px) {
    html {
        font-size: small;
        box-sizing: border-box;
        margin: 0;
    }

    .header .menu li:not(:last-child) {
        display: none;
    }

    .sobre-texto,
    .hero-info,
    .experiencia,
    .contato {
        text-align: justify;
    }

    .formacao-academica-cards {
        flex-wrap: wrap;
    }

    .formacao-academica-card {
        width: 100%;
        max-width: 368px;
    }

    .skills,
    .hobbies {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        width: 120px;
        height: 120px;
    }

    .sobreMim .hero-foto {
        width: 146px;
        height: 146px;
    }

    .imagem-contato {
        display: none;
    }

    .decodificador,
    .forca {
        flex-direction: column;
    }
}
